<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
  <head>

    <title>{{ site.github.repository_nwo | capitalize }}</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <link rel="apple-touch-icon" sizes="57x57" href="assets/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="assets/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/favicons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/svg+xml" href="assets/favicons/favicon.svg">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="192x192" href="assets/favicons/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/favicons/favicon-16x16.png">
    <link rel="shortcut icon" href="assets/favicons/favicon.ico">
    <link rel="manifest" href="assets/favicons/manifest.json">

    <link rel="stylesheet" href="assets/css/style.css">
  </head>
  <body>
    <div class="logos-header">
      <div class="logos">
        <a href="https://libero.pub/" class="libero-logo">
          <img src="assets/images/libero-logo.svg" alt="Libero">
          <span class="visuallyhidden">Libero docs home page</span>
        </a>
        <a href="https://elifesciences.org" class="elife-logo">
          <img src="assets/images/powered-by-elife-footer.svg" alt="Powered by eLife" class="logo">
        </a>
      </div>
    </div>

    <header class="page-header" role="banner">
      <h1 class="project-name">{{ site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ site.github.project_tagline }}</h2>
      {% if site.github.is_project_page %}
        <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
      {% endif %}
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        <small class="footnote">
          eLife Sciences Publications, Ltd is a limited liability
          non-profit non-stock corporation incorporated in the State of
          Delaware, USA, with company number 5030732, and is registered in
          the UK with company number FC030576 and branch number BR015634
          at the address eLife Sciences Publications Ltd, Westbrook
          Centre, Milton Road, Cambridge CB4 1YG, UK
        </small>
        {% if site.github.is_project_page %}
        <span class="site-footer-owner">
          <a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by
          <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.
        </span>
        {% endif %}
        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</span>
      </footer>
    </main>
  </body>
</html>